{% extends "tethys_hstools/base.html" %}
{% load tethys_gizmos %}

{% block app_navigation_items %}

  <li>
    <a href="{% url 'tethys_hstools:postexample' %}">Post Request Demo</a>
  </li>

 <li>
    <a href="?filename=referencetimeseries-2_23_2015-wml_2_0.wml&res_id=72b1d67d415b4d949293b1e46d02367d">Get Request Demo</a>
  </li>

 <li>
    <a href="{% url 'tethys_hstools:home' res_id='72b1d67d415b4d949293b1e46d02367d' filename='referencetimeseries-2_23_2015-wml_2_0.wml' %}">REST Test Demo</a>
  </li>
{% endblock %}

{% block app_content %}
  <h1>Welcome to Time Series Viewer</h1>


{% gizmo highcharts_plot_view timeseries_plot%}
{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}